body {
    background: #1a1a1aff;
}

#login {
    text-align: center;
}

.label {
    font-size: 24px;
    text-align: center;
    margin-top: 10%;
    color: white;
}

#conta {
    position: relative;
    font-size: 24px;
    color: white;
}
#esqueceu {
    text-align: center;
    font-size: 14px;
    position: relative;
}

#btns {
    text-align: center;
}

#botao {
    position: relative;
    left: 20px;
    width: 100px;
    font-size: 12;
}

#cadastro {
    text-align: left;
}

#alunos {
    text-align: justify;
}

th, td {
    font-size: 24px;
    background-color: black;
    text-align: center;
    color: white;
    border: 1px solid black;
}

#principal {
    color: white;
}
